<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Descuentos de clientes</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">

</head>
<body>
	<form action="#" method="post" th:action="@{descuentos}" th:object="${command}" >
		<div class="container">
			<h2>Descuentos de clientes</h2>
			<div class="row">
				<div class="col-md-auto">
 					<div style="font-style:italic;">
 					<p>v <span th:text="${version}"></span></p>
 					</div>
					<p><a href="./">[Atr&aacute;s]</a>
					<div class="form-group">
					<label for="txtEdad">Filtro por edad</label>
					<input id="txtEdad" class="form-control" type="number" th:field="*{edad}" /> 
 					<span id="valEdad" class="help-block" th:if="${#fields.hasErrors('edad')}" th:errors="*{edad}"></span>
 					</div>
					<input id="btnEdad" class="btn btn-primary" type="submit" value="Submit" />
				</div>
				<div class="col-md-auto">
					<h3>Descuentos</h3>
 					<span>Filtro aplicado: <span id="filtro" th:text="${filtro}"></span></span>
 					<br/>
					<table id="tabDescuentos" aria-describedby="Descuentos" class="table table-striped table-condensed">
						<tr>
							<th scope="col">Id</th>
							<th scope="col">% Descuento</th>
						</tr>
						<tr th:each="descuento : ${descuentos}">
							<td th:text="${descuento.id}"></td>
							<td th:text="${descuento.descuento}"></td>
						</tr>
					</table>
				</div>
				<div class="col-md-auto">
					<h3>Clientes en la BD</h3>
					<table id="tabClientes" aria-describedby="Clientes en la BD" class="table table-striped table-condensed">
						<tr>
							<th scope="col">Id</th>
							<th scope="col">Edad</th>
							<th scope="col">Nuevo</th>
							<th scope="col">Cupon</th>
							<th scope="col">Tarjeta</th>
						</tr>
						<tr th:each="cliente : ${clientes}">
							<td th:text="${cliente.id}"></td>
							<td th:text="${cliente.edad}"></td>
							<td th:text="${cliente.nuevo}"></td>
							<td th:text="${cliente.cupon}"></td>
							<td th:text="${cliente.tarjeta}"></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</form>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
		integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
		integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2"
		crossorigin="anonymous"></script>
</body>
</html>
